@{
    ViewBag.Title = "Pong";
}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>


<script>

    var ballContext;
    var rectContext
    var x = 100;
    var y = 200;
    var dx = 5;
    var dy = 5;

    function init() {
        ballContext = arena.getContext('2d');
        setInterval(drawBall, 10);
    }

    function playerInit() {
        rectContext = arena.getContext('2d');
        drawPaddles();
        
    }

    function drawBall() {
        ballContext.clearRect(0, 0, 700, 300);
        ballContext.beginPath();
        ballContext.fillStyle = "#0000ff";
        ballContext.arc(x, y, 20, 0, Math.PI * 2, true);
        ballContext.closePath();
        ballContext.fill();
        if (x < 24 || x > 700-24) dx = -dx;
        if (y < 24 || y > 300-24) dy = -dy;
        x += dx;
        y += dy;
    }

    function drawPaddles() {
        rectContext.rect(10, 10, 10, 10);
        rectContext.stroke();
    }

</script>


<style>
    body, html {
        margin: 0px;
    }

    .arenaContainer {
        display: block;
    }

    #score {
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0%);
    }
</style>

<body onload="init(); playerInit(); ">

    <canvas id="arena" width="700" height="300">
        <div id="score">
            <h1>
                <span id="playerScore">0</span>
                <span id="opponentScore">0</span>
            </h1>
        </div>
    </canvas>
</body>

@{ /*     $(document).ready(function () {
            $(document).keydown(function (key) {
                switch (parseInt(key.which, 10)) {
                    //up
                    case 38:
                        if (x > 0) { $(player).css("top", "-=10"); x -= 10;}
                        break;
                    //down
                    case 40:
                        if (x < 335) { $(player).css("top", "+=10"); x += 10; }
                        break;
                }
            });
        });
        
    */
}
