@{
    ViewBag.Title = "Pong";
}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>


<script>

    var context;
    var x = 100;
    var y = 200;
    var dx = 5;
    var dy = 5;
    function init() {
        context = arena.getContext('2d');
        setInterval(draw, 10);
    }

    function draw() {
        context.clearRect(0, 0, 700, 300);
        context.beginPath();
        context.fillStyle = "#0000ff";
        context.arc(x, y, 20, 0, Math.PI * 2, true);
        context.closePath();
        context.fill();
        if (x < 0 || x > 700) dx = -dx;
        if (y < 0 || y > 300) dy = -dy;
        x += dx;
        y += dy;
    }


</script>


<style>
    body, html {
        margin: 0px;
    }

    .arenaContainer {
        display: block;
    }

    #score {
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0%);
    }
</style>

<body onload="init();">

    <canvas id="arena" width="700" height="300">
        <div id="score">
            <h1>
                <span id="playerScore">0</span>
                <span id="opponentScore">0</span>
            </h1>
        </div>
    </canvas>
</body>

@{ /*     $(document).ready(function () {
            $(document).keydown(function (key) {
                switch (parseInt(key.which, 10)) {
                    //up
                    case 38:
                        if (x > 0) { $(player).css("top", "-=10"); x -= 10;}
                        break;
                    //down
                    case 40:
                        if (x < 335) { $(player).css("top", "+=10"); x += 10; }
                        break;
                }
            });
        });
        
    */
}
