@{
    ViewBag.Title = "Pong";
}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>


<script>
    window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (callback) {
                return window.setTimeout(callback, 1000 / 60);
            };
    })();

    var player = document.getElementsByClassName('player');
    var arena = document.getElementById('arena');
    var x = 0;
    

    $(document).ready(function () {
        $(document).keydown(function (key) {
            switch (parseInt(key.which, 10)) {
                //up
                case 38:
                    if (x > 0) { $(player).css("top", "-=10"); x -= 10;}
                    break;
                //down
                case 40:
                    if (x < 335) { $(player).css("top", "+=10"); x += 10; }
                    break;
            }
        });
    });

    


</script>


<style>
    body, html {
        margin: 0px;

    }
    .arenaContainer {
        display: block;
    }

    #arena {
        position:absolute;
        background-image: url(../../FX/Arena.png);
        background-size: 100% 100%;
        margin: 0px;
        width: 500px;
        height: 400px;
        overflow: hidden;
    }

    #score {
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0%);
    }

    .player {
   
        position: absolute;
        max-height: inherit;
        z-index: 1000;
        background-image: url(../../FX/player.png);
        height: 65px;
        width: 10px;
    }

    .opponent {
        position:absoulte;
        max-height: inherit;
        z-index: 1000;
        background-image: url(../../FX/player.png);
        height: 65px;
        width: 10px;
    }

    .ball {
        background-image: url(../../FX/Ball.png);
    }

    #player {
        position: absolute;
        right: 90%;
    }

    #opponent {
        position: absolute;
        left: 90%
    }

    #ball {

        width: 85px;
        height: 85px;
    }
</style>



    <div id="arena">
        <div id="score">
            <h1>
                <span id="playerScore">0</span>
                <span id="opponentScore">0</span>
            </h1>
        </div>

        <div id="player" class="player"></div>
        <div id="opponent" class="opponent"></div>
        <div id="ball" class="ball"></div>

        <!-- left side player controls-->
        <div id="controls-left">
            <div id="up"></div>
            <div id="down"></div>
        </div>
        <!-- right side player controls -->
        <div id="controls-right">
            <div id="left"></div>
            <div id="right"></div>
        </div>

    </div>

